body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;
    padding: 20px;
    background-color: #0077be;
    color: #fff;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #0077be;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005b90;
}

h1 {
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 20px;
 }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.delete {
    background-color: #f44336;
}

.update {
    background-color: #4CAF50;
}

.insert {
    background-color: #4c84af;
}

.delete:hover {
    background-color: #ff6659;
}

.update:hover {
    background-color: #5eba6e;
}

.insert:hover {
    background-color: #4c84af;
}

input, select {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span {
    width: 100px;
    height: 50px;
    color: red;
}




