<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/api/alquiler/">Alquiler</a></li>
            <li><a href="/api/cliente/">Cliente</a></li>
            <li><a href="api/disfraz/">Disfraz</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Welcome to our website!</h1>
    <p>Here you can find everything you need to have a great party!</p>
</main>
</body>
</html>
